---
import { getCollection } from "astro:content";
import { CldImage } from "astro-cloudinary";
import PhotoRouting from "@/layouts/photoRouting.astro";
import { Button } from "@/components/ui/button";
import PhotoActions from "@/components/PhotoActions";

export async function getStaticPaths() {
    const photos = await getCollection("photos");
    return photos.map((photo) => ({
        params: { public_id: photo.data.public_id },
        props: { photo },
    }));
}
const { photo } = Astro.props;
---

<PhotoRouting title=`${photo.data.display_name} - Brock Shaffer` }>
    <div class="flex flex-col">
        <a
            href="/photos"
            data-astro-prefetch="hover"
            class="z-20 cursor-default mt-4 ml-auto mr-4"
        >
            <Button variant="ghost"> ← Back to Gallery </Button>
        </a>
        <div class="flex flex-col xl:flex-row px-4 pt-8 xl:pt-16">
            <div>
                <CldImage
                    class="object-fill"
                    src={photo.data.public_id}
                    format="jpg"
                    quality="auto"
                    alt={photo.data.display_name}
                    width={1920}
                    height={1080}
                    transition:name=`photo-${photo.data.public_id}`
                    }
                    transition:animate="fade"
                />
            </div>
            <div class="flex flex-col p-4">
                <h1 class="text-3xl font-bold">
                    {
                        photo.data.title === undefined
                            ? "Untitled"
                            : photo.data.title
                    }
                </h1>
                <h2 class="text-muted-foreground">
                    Photographed by Brock Shaffer
                </h2>
                {
                    photo.data.alt !== undefined && (
                        <p class="mt-8">{photo.data.alt}</p>
                    )
                }
                <PhotoActions client:load url={photo.data.url} />
            </div>
        </div>
    </div>
</PhotoRouting>
